doctype html  
html(lang='en')  
 head
   title Pug
 body
  h1=title
  p Welcom LandMarks By Country
  
  ul
   each landmark in landmarks
    li=landmark.name
    li=landmark.country
    li=landmark.contenent
    li=landmark.visitors